.bodyContainer {
  padding: 160px 32px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* flex: 1 1 auto; */
  flex-direction: column;
  /* padding: 160px 0px 0px; */
  justify-content: center;
  overflow: hidden;
}

.bannerContainer {
  display: flex;
  position: relative;
  padding: 1px;
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 0px 0px 40px;
  z-index: 2;
  cursor: pointer;
}

.releaseBanner {
  background: conic-gradient(
    from 217.29deg at 51.63% 52.16%,
    rgb(36, 0, 255) 0deg,
    rgb(0, 135, 255) 19.5deg,
    rgb(255, 29, 122) 102.75deg,
    rgb(245, 56, 27) 152.25deg,
    rgb(255, 83, 53) 208.88deg,
    rgb(105, 30, 255) 291deg
  );
  border-radius: 8px;
  height: 75px;
  filter: blur(5px);
  padding: inherit;
  width: 100%;
}

/* .releaseBanner::before{
      filter: blur(1px);
  } */

.bannerContent {
  display: flex;
  flex: initial;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(11, 11, 12);
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 11px 24px 11px 16px;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
}

.releaseLogo {
  width: 24px;
  height: 24px;
}

.releaseNameWrapper {
  margin-left: 24px;
  display: flex;
  flex-shrink: initial;
  flex-basis: initial;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.releaseName {
  font-style: normal;
  font-weight: normal;
  color: rgb(247, 248, 248);
  line-height: 23px;
  font-size: 15px;
}

.hBar {
  margin-left: 24px;
  font-style: normal;
  font-weight: normal;
  color: rgb(67, 76, 88);
  line-height: 23px;
  font-size: 15px;
}

.whatsNew {
  margin-left: 24px;
  color: #5e6ad2;
}

.titleWrapper{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 30px 0;
  flex-direction: column;
}

.heroTitle{
  max-width: 900px;
  font-size: 4.4rem;
  font-weight: 900;
  margin: 0 0 16px 0;
  line-height: 1.2;
  color: rgb(247, 248, 248);
}

.heroDescription{
  max-width: 720px;
  font-size: 1.6rem;
  color: #95a2b3;
  line-height: 1.5;
  margin-top: 15px;
  font-weight: 100;
}

@media (max-width: 1030px){
  .heroTitle{
    font-size: 8vw;
  }
}

@media (max-width: 600px) {
  .bodyContainer {
    padding: inherit 24px;
  }

  .heroDescription{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .bannerContent {
    padding: 11px 16px;
    flex-direction: column;
  }

  .releaseBanner {
    height: 100px;
  }

  .hBar {
    display: none;
  }

  .releaseLogo {
    padding: px 0;
  }

  .releaseName {
    padding: 5px 0;
  }

  .whatsNew {
    padding: 3px 0;
  }
}
