.interfaceContainer{
    padding-top: 140px;
    padding-bottom: 140px;
    /* background-color: #1c1d1f; */
    overflow-x: hidden;
}

.interfaceWrapper{
    padding: 0 32px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.interfaceContent{
    display: flex;
    align-items: center;
}


.descriptionContainer{
    width: 380px;
    flex-shrink: 0;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.description{
    max-width: 760px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    margin-bottom: 3em;
}

.heading{
    margin: 0;
    line-height: 1.25;
    font-size: 44px;
}

.descriptionContent{
    margin-top: 0.8em;
    color: #8A8F98;
    line-height: 1.45;
    font-weight: 500;
    font-size: 22px;
}

.descriptionWriteup{
    margin-top: 0.8em;
}

.bold{
    font-weight: 600;
    color: #fff;
}

.screenshotWrapper{
    margin-left: 108px;
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-start;
}

.cyclesScreenshotWrapper{
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    margin-right: 100px;
    right: 40%;
}

.screenshotcontainer{
    width: 1000px;
    height: 780px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    max-width: 1100px;
}

.gradientBg{
    position: absolute;
    border-radius: 24px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/redblue.png);
    background-size: cover;
    background-position: center center;
  
}

.gradientBgPink{
    position: absolute;
    border-radius: 24px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/pinkred.png);
    background-size: cover;
    background-position: center center;
}

.gradientyrp{
    position: absolute;
    border-radius: 24px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/yellowredpink.png);
    background-size: cover;
    background-position: center center;
}

.cyclesScreenshot{
    margin: 1px 1px;
    /* border-radius: 8px; */
    box-shadow: 0px 40px 80px rgba(0,0,0,0.6);
    display: block;
    position: absolute;
    right: 9%;
    top: 9%;
    height: 82%;
    border-radius: 12px !important;
}

.screenshotTwo{
    margin: 1px 1px;
    border-radius: 8px;
    box-shadow: 0px 40px 80px rgba(0,0,0,0.6);
    position: absolute;
    top: 10%;
    left: 10vw;
    height: 75%;
}

.screenshotOne{
    top: 40%;
    position: absolute;
    left: 5vw;
    height: 75%;
    box-shadow: 0 26px 44px 18px rgba(0,0,0,0.5);
}

@media (max-width: 1024px){
    .screenshotWrapper{
        margin-left: 5vw;
    }
}
/* 
@media (max-width: 600px){
  
} */

@media ( max-width: 750px){
    .interfaceContent{
        flex-direction: column;
    }

    /* .screenshotWrapper{
        height: 320px;
        width: 63%;
    } */

    .screenshotcontainer{
        width: 550px;
        margin-left: 0;
    }

    .screenshotOne, .screenshotTwo{
        height: 50%;
        left: 0;
    }
}